ul.navhztl {
	display: block
	padding: 0;
	margin: 0;
	float: left;
	background-color: #0000FF;
	color: #FFFFFF;
	}
ul.navhztl li {display: inline;}
ul.navhztl li a {
	display: block
	padding: .2em 4em;
	background-color: #0000FF;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	border-bottom: solid 2px #FFFFFF;
	border-top: solid 2px #FFFFFF;
	border-right: solid 2px #FFFFFF;
	border-left: solid 2px #FFFFFF;
	}
a:link, a:visited {color: #FFFFFF;}
ul.navhztl li a:hover {
	display: block
	background-color: #999999;
	color: #000000; }